
  @import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Open+Sans:wght@300;400;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&display=swap');
body{
    font-family: 'Gupter', serif;
}
.container{
    width: 1305px;
    margin: 0 auto;
}
.nav-i ul li {
    display: inline-block;
    margin-left: 40px;
}
.BarLink{
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 2%;
    color: #000000;
}
.NavHead ul li{
    margin-left: 45px;
    position: relative;
    transition: .4s;

}
nav  ul li::before{
    content: "";
    width: 0%;
    height: 3px;
    background: #000000;
    position: absolute;
    top: 29px;
    left: 50%;
    transform: translateX(-50%);

    
}
nav  ul li:hover::before{
    width: 100%;
}
nav ul li .active::before{
    content: "";
    width: 100%;
    height: 3px;
    background: #000000;
    position: absolute;
    top: 29px;
    left: 50%;
    transform: translateX(-50%);
}
/* ==============================nav end============================== */
/* =======================modern start=============================== */
.modern-right{
    margin-top: 72px;
}
.modern-right h1{
    font-weight: 400;
    font-size: 65px;
    line-height: 76px;
    letter-spacing: 2%;
    color: #292019;
}
.modern-right p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing:2%;
    color: #000000;
    width: 384px;
    margin-top: 43px;
}
.modern-right button{
    border: none;
    border: 1px solid #C4A586;
    padding: 30px 70px;
    background: transparent;
    transition: 0.4s;
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 2%;
}
.watch-btn{
    margin-left: 33px;
}
.modern-right button:hover{
    background: #C4A586;
    color: #FFFFFF;
}
.modern-left img{
    width: 502px;
    height: 753px;
    
}
/* ==========================modern end========================= */
/* ========================================client start======================= */

.c-title h4{
    margin-left: 559px;
    margin-top: 105px;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 2%;
    color: #000000;
}
.c-list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 2%;
    color: #72696A;
    margin-top: 91px;
    
}
.c-list ul li{
    list-style: none;
}

/* ==============================furniture start========================= */
.furniture-text h4{
margin-top: 142px;
font-weight: 700;
font-size: 30px;
letter-spacing: 2%;
color: #000000;
}
.furniture-ig img{
    margin-top: 78px;
    padding-left: 84px;
    }
    .furniture-right{
        background: transparent;
        transition: .4s;
        
        
    }
    .furniture-right:hover{
        background: #C4A586;
        
    }
    .furniture-right:hover .browsmore h5{
        color: #72696A;
    }
    
    
    
    .furniture-text h5{
        
        font-weight: 400;
        font-size: 25px;
        letter-spacing: 2%;
        color: #C4A586;
        }
        

/* =====================product start============================ */
.product-best{
    display: flex;
    margin-left: 670px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 2%;
    color: #000000;
}
.product-arrow{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2%;
    color: #C4A586;
}
.price-tag{
    display: flex;
    margin-left: 142px;
   gap:41px;


}
.cart-box{
    width: 402px;
    height: 302px;
    background: rgba(196, 165, 134, 0.63);
    
}
.cart-box h4{
    font-weight: 400;
    font-size: 22px;
    line-height: 76px;
    letter-spacing: 2%;
    color: #000000;
    padding:36px 246px 0px 84px;
}
.cart-tag h5{
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 2%;
    color: #000000;
}
.cart-part{
    display: flex;
    border-radius: 25px;
    background: #D1A070;
    position: absolute;
    left: 0px;
    top: 0px;
   padding: 22px 39px;
   transform: translate(60%,-50%);
   
    
}
.cart-whole-box{
    position: relative;
    margin-top: 105px;
    transition: .4s;

}
.cart-whole-box:hover{
   transform: translateY(-20px);

}
.cart-chair{
    position: absolute;
    top: 50%;
    left: 70px;
    
    
}
.second-cart{
    margin-top: 200px;
}
.total-text{
    margin-top: 165px;
}
/* ================================================customer start===================================== */
#customer{
    margin-top: 250px;
}
.customer-left h2{
   font-weight: 500;
   font-size: 55px;
   width: 461px;
   color: #000000;
   margin-top: 166px;
}
.customer-left p{
    font-weight: 400;
    font-size: 20px;
    width: 454px;
    line-height: 28px;
    letter-spacing: 2%;
    color: #000000;
 }
 .customer-id{
    display: flex;
    width: 345px;
    justify-content: space-between;
    margin-top: 83px;
    margin-left: 218px;
    
 }
 .customer-name h2{
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2%;
    color: #000000;
 }
 
 .customer-name p{
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: 2%;
    color: #000000;
 }
.r-arrow{
    width: 33.14px;
    height: 33.14px;
    border-radius: 50%;
    border: 1px solid #000000;
    text-align: center;
    padding-top: 4px;
}
.l-arrow{
    width: 33.14px;
    height: 33.14px;
    border-radius: 50%;
    border: 1px solid #000000;
    text-align: center;
    padding-top: 5px;
    background: #B99272;
    border: none;
}
.lr-arrow{
    display: flex;
    width: 85px;
    justify-content: space-between;
    margin-left: 602px;

}
.group-i{
    display: flex;
    gap: 36px;
    margin-left: 360px;
    margin-top: 54px;
}
/* ================================================signup start================================ */
.signup-right .interior-design button{
    border: none;
    color: #C4A586;
    width: 240px;
    height: 50px;
    border: 1px solid #C4A586;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    
}

.signup-right h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 2%;
    width: 349px;
    color: #000000;
}
.business-btn{
    display: flex;
    width: 492px;
    height: 78px;
    background: rgba(217,217,217,51%);
    align-items: center;
  
   
}
.btn-arrow{
    padding: 23px 24px;
    background: rgba(196,165,134,44%);
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    
}

.business-btn button{
    padding: 23px 41px;
    width: 178px;
    height: 68px;
    border: none;
    margin-left: 60px;
    background: #C4A586;
    color: #FFFFFF;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    font-weight: 700;
    font-size: 20px;
}
.chair-i img{
    
    margin-right: -74px;
    margin-top: -40px;
    
    
}

.signup-left{
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
    
    
}
.watch-later{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
}
.watch-later img{
    width: 89px;
    height: 90px;
    border-radius: 50%;
}
.signup-right{
    margin-top: 95px;
}
/* footer start */
#footer{
    margin-top: 114px;
}